<html>
  <head>
    <title>Alpha_Blog Home Page</title>
  </head>
  <body>
    <div class="center jumbotron">
      <h1>test</h1>
      <%= link_to "Sign up", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
    </div>
    
  </body>
  
  
</html>
